<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbkk.project.module.upms.mapper.SystemRoleMapper">
    <resultMap id="RolePermission" type="com.bbkk.project.module.upms.data.RolePermissionDTO">
        <result column="role" property="role"/>
        <collection property="permissionList" ofType="com.bbkk.project.module.upms.data.PermissionDTO">
            <result column="value" property="value"/>
            <result column="weight" property="weight"/>
        </collection>
    </resultMap>

    <select id="findAllRolePermission" resultMap="RolePermission">
        select r.value as 'role', p.value as 'value', p.weight as 'weight'
        from system_role as r
                 left join system_role_permission as rp on r.id = rp.role_id
                 left join system_permission as p on rp.permission_id = p.id
        order by p.weight desc;
    </select>

    <select id="findRoleListByUserId" resultType="java.lang.String">
        select r.value
        from system_user_role as ur
        left join system_role as r on ur.role_id = r.id
        where ur.user_id = #{userId};
    </select>
</mapper>